# =========================
# Python & Virtual Envs
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
.env
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# =========================
# Testing, Caches, IDEs, OS
# =========================
.pytest_cache/
.cache/
htmlcov/
.coverage
.hypothesis/
.ipynb_checkpoints/
*.ipynb
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project

# =========================
# HPC & Logs
# =========================
wandb/
*.wandb
slurm*.out
slurm*.err
*.log

# =========================
# Model Artifacts
# =========================
fine_tuned_models/
models/timesformer_ucf101_ddp/
*.pt
*.pth
# Ignore model folder contents generally
models/*.pt
models/*.pth

# =========================
# Archives & Config
# =========================
*.tar.gz
*.zip
*.rar
*.bin
config.local.yaml

# =========================
# DATASET MANAGEMENT
# =========================

# 1. Ignore EVERYTHING inside these dataset folders
data/UCF101_data/*
data/HMDB51_data/*
data/Kinetics400_data/*
data/SSv2_data/*
20bn-something-something-v2-*
data/UCF101_data/results/**/*.csv
data/UCF101_data/results/*.csv
# 2. EXCEPTION: Strictly allow ONLY the results folder
!data/UCF101_data/results/